body {
    background-image:url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#start {
    display: block;

    opacity: 75%;
    
    position: absolute;
    
    top: 50%;
    left: 45%;

    padding: 20px;
    font-size: 50px;

    
}

#playfield{
    border: 1px solid gray;
    width: 1250px;
    height: 800px;
    margin: auto;
    margin-top: 4%;
    background-color: gray;
    opacity: 75%;

    display: none;
}

#circle{
    position: relative;
    display: block;
    float:left;
    border: 1px solid black;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-image: url("../img/cursor_final.png");
    transition: 0.10s;

    display: none;
    
}

#score{
    display: none;
    
    position: absolute;
    top: 0px;
    left: 75px;
    font-size: 50px;

}

#hp{
    display: none;
    
    position: absolute;
    top: 0px;
    right: 75px;
    font-size: 50px; 
}

#hp1{
    display: none;
    
    position: absolute;
    top:10px;
    right: 65px;

    width: 120px;
    height: 120px;
    
}

#hp2{
    display: none;
    
    position: absolute;
    top: 10px;
    right: 75px;

    width: 120px;
    height: 120px;
    
}

#hp3{
    display: none;
    
    position: absolute;
    top:10px;
    right: 85px; 

    width: 120px;
    height: 120px;
    
}

#ded{
    display: none;
    position: absolute;
    
    top: 10%;
    left: 36%;

}

#dedtext{
    display: none;
    position: absolute;
    
    top: 50%;
    left: 37.5%;

    padding: 20px;
    font-size: 70px;

    border: 1px solid gray;
    background-color: gray;

}

#retry{
    display: none;
    position: absolute;
    
    top: 64%;
    left: 45.5%;

    padding: 20px;
    font-size: 30px;

}